@font-face {
    font-family:'arzhu';

    /* 修改成你的字体 */
    src:url("./KaiTi.ttf"); 
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}